{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCM</title>
    <link rel="stylesheet" href="{% static 'subject/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'subject/css/font-awesome.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'subject/css/ionicons.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'subject/css/simple-line-icons.min.css'%}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'subject/css/Login-Form-Clean.css'%}"/>
    <link rel="stylesheet" href="{% static 'subject/css/styles.css'%}">
    <!-- FontAwesome compiled  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color:rgb(241,247,252);">
    <div class="login-clean" style="height:649px;">
        <form action="{% url 'subject:register' %}" method="post" data-aos="fade" data-aos-duration="600" data-aos-delay="150" id="mform" style="margin-top:59px;width:364px;max-width:348px;">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="text-center"><i class="fa fa-address-card-o icon fa-5x  " ></i></div><br><br>
            <div class="form-group"><select class="form-control" name="coursename" required=""><optgroup label="This is a group"></optgroup>{% for i in dept %}<option value="{{  i.coursename}} " name="{{ i.coursename }}"  >{{ i.coursename }} </option>{% endfor %}</select></div>
            <div class="form-group"><input class="form-control" type="text" name="subid" required="" placeholder="Subject ID""></div>
            <div class="form-group"><input class="form-control" type="text" name="subnm" required="" placeholder="Subject Name"></div>



            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" id="btn" style="background-color:rgb(1,159,208);">Register</button></div>
            <a href="{% url 'subject:updatesubject' %}">
            <input type="button" name="hide">
            </a>
        </form>
    </div>
    <script src="{% static 'subject/js/jquery.min.js'%}"></script>
    <script src="{% static 'subject/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'subject/js/bs-animation.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>