<html>
<body onload="f() ">
<form action="{% url 'subject:update' %}" method="post">
    {% csrf_token %}
<input type="text" name="hiden" id="hiden" style="visibility: hidden">
<input type="submit" id = "submit" style="visibility: hidden">

<script type="application/javascript">
    function f() {
        var coursenm=prompt("Enter Subject name to be updated");
        document.getElementById("hiden").value =coursenm;
        document.getElementById("submit").click();
    }



</script>
</form>

</body>




</html>