<html>
<head>
  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<head>


<body>


  <div class="container">
    <div class="jumbotron" style="margin-top:100px">

    <form action="{% url 'teacher:findsubject' %} " method="post">
        {% csrf_token %}
      <div class="row">
        <div class="col-sm-4">
        <label>Select Dept : </label><select name="dept" class="form-control" onchange="getcourse()" id="dept">{% for i in department %}<option value="{{ i.deptname }}" name="{{ i.deptname }}">{{ i.deptname }}</option>{% endfor %}</select>
        </div>
      <div class="col-sm-4">
        <label>Select Course : </label><select name="course" id="course" class="form-control">

      </select>
      </div>

      <div class="col-sm-4">

          <input type="submit" name="getsubject" id="getsubject" class="btn btn-dark" style="margin-top: 10%; width: 40%;" value="Find Subjects">
      </div>
      </div>
    </form>
  <form action="{% url 'teacher:schedule' %}" method="get">
        {% csrf_token %}

      <table class="table  table-striped" style="margin-top:30px">
          <tr>
                <th>Course</th>
                <th>Subject</th>
                <th>Date</th>
                <th>From</th>
                <th>To</th>

          </tr>

          {% for i in subjectname %}
          <tr>
                <td>
                    <input type="text" readonly="" class="form-control" required="" id="course" name="crs" value="{{ coursedata }}">
                </td>


                <td>
                    <input type="text" readonly="" class="form-control" required="" id="subject" name="subject" value="{{ i.subjectname }}">
                </td>


                <td>
                    <input type="date" name="date" class="form-control" required="">
                </td>

                <td>
                <input type="time" name="from" class="form-control" required="">

                </td>

                <td>
                  <input type="time" name="to" class="form-control" id="to">
                </td>
          </tr>
            {% endfor %}


 </table>
  <br><br>
 <input type="submit" value="Schedule" class="btn btn-dark" style="width: 20%; margin-right: 5%; float: right;">
</form>





    </div>
    </div>


<script>

    function getcourse() {

    var val=document.getElementById("dept").value;
    select=document.getElementById("course");
        select.options.length = 0;
        {% for x in course %}

            if(val=='{{ x.dept_id}}')
            {
                var option = document.createElement("option");
                option.text = "{{ x.coursename }}";
                option.value="{{ x.coursename }}";
                select.add(option,0);
            }

        {% endfor %}
    }

function getdata()
{


}



</script>


</body>



</html>
