<html>
<head>
  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<head>


<body>


  <div class="container">
    <div class="jumbotron" style="margin-top:100px">

      <div class="row">
        <div class="col-sm-4">
        <label>Select Dept : </label><select name="dept" onchange="getcourse()" id="dept">{% for i in department %}<option value="{{ i.deptname }}" name="{{ i.deptname }}">{{ i.deptname }}</option>{% endfor %}</select>
      </div>
      <div class="col-sm-4">
        <label>Select Course : </label><select name="course" id="course">



      </select>
      </div>
      <div class="col-sm-4">
          <input type="button" name="getsubject" id="getsubject" onclick="getdata" value="find Subjects">
      </div>
      </div>


      <table class="table  table-striped" style="margin-top:30px">
          <tr>
                <th>Course</th>
                <th>Subject</th>
                <th>Date</th>
                <th>From</th>
                <th>To</th>

          </tr>
                <td>

                </td>

                <td>
                </td>

                <td>
                    <input type="date" name="date" id="date">
                </td>

                <td>
                <input type="time" name="from" id="from">

                </td>

                <td>
                  <input type="time" name="to" id="to">
                </td>



          <tr>

          </tr>


 </table>
 <center><input type="submit" value="schedule"></center>

    </div>
    </div>


<script>

    function getcourse() {

    var val=document.getElementById("dept").value;
    select=document.getElementById("course");
        select.options.length = 0;
        {% for x in course %}

            if(val=='{{ x.dept_id}}')
            {
                var option = document.createElement("option");
                option.text = "{{ x.coursename }}";
                option.value="{{ x.coursename }}";
                select.add(option,0);
            }

        {% endfor %}
    }

function getdata()
{


}



</script>


</body>



</html>
