<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCM</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Simple-Vertical-Navigation-Menu-v-10.css">
    <link rel="stylesheet" href="assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color:rgb(254,255,255);">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">School Management System</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Register</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Register Parent</a><a class="dropdown-item" role="presentation" href="#">Register Student</a></div>
                        </li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div>
        <div class="container">
            <div class="jumbotron" data-aos="fade" data-aos-duration="650" data-aos-delay="250" style="background-color:#f7f7f7;">
                <h1 class="text-center">Heading text</h1>
                <p class="text-center">WELCOME TO SCHOOL MANAGEMENT SYSTEM</p>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-6" data-aos="fade" data-aos-duration="700" data-aos-delay="300" id="col1">
                    <div style="margin-left:20px;margin-top:76px;"><img src="assets/img/attend.png"></div>
                    <div id="Attend" style="margin-top:30px;margin-bottom:105px;"><label style="font-family:Roboto, sans-serif;font-size:22px;">Attendance</label></div>
                </div>
                <div class="col-6" data-aos="fade" data-aos-duration="700" data-aos-delay="300" id="column2">
                    <div style="margin-left:192px;margin-top:69px;"><img src="assets/img/es.png"></div>
                    <div id="Sch" style="margin-top:30px;"><label style="font-family:Roboto, sans-serif;font-size:22px;margin-left:149px;">Exam Schedule</label></div>
                </div>
                <div class="col">
                    <div style="margin-top:20px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>