<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style type="text/css">
	body
	{
		background-color: #2B547E;
	}
</style>

</head>
<body>

	<div class="container">
		<br>
		<br>
		<div  style="width: 50%;height: 30%; margin-left: 20%;">
		<div class="card">
			<div class="card-header" style="background-color: #D1D0CE"><b> Login Form </b> </div>
			<div class="card-block " style="margin-right: 5%;margin-left: 5%;">

				    <form action="{%  url 'login:checklogin' %}" method="post">
                        {% csrf_token %}
					<br>
                    <div class="form-group">
						<label>Select User :</label>
						<select name="user" class="form-control">
                            <option value="teacher">Teacher</option>
                            <option value="parent">Parent</option>
                            <option value="student">Student</option>
                        </select>
					</div>
					<div class="form-group">
						<label>Email :</label>
						<input type="text" name="username" class="form-control" placeholder="Email">
					</div>

					<div class="form-group">
						<label>Password :</label>
						<input type="password" name="password" class="form-control" placeholder="********">
					</div>
                        <br>
					<div class="form-group text-center">						
						<input type="submit" name="submit" value="Login" class="btn btn-primary "style="width:40%; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" name="submit" value="Cancel" class="btn btn-secondary" style="width: 40%;">
					</div>


				</form>
				<br><br>


			</div>
			

		</div>
		</div>

	</div>


</body>
</html>