{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCM</title>
    <link rel="stylesheet" href="{% static 'course/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'course/css/simple-line-icons.min.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css"/>
    <link rel="stylesheet" href="{% static 'course/css/Login-Form-Clean.css' %}"/>
    <link rel="stylesheet" href="{% static 'course/css/styles.css' %} "/>
</head>

<body>
    <div class="container">
        <div>
            <div class="row" style="margin-top:64px;">
                <div class="col-4" id="col1">
                    <div style="margin-top:18px;"><label>Department :</label></div><select name="dept" style="margin-top:8px;"><optgroup label="Department"></optgroup> <option value="{{ data.dept_id }}"> {{ data.dept_id }} </option> </select></div>
                <div class="col-4" id="col2">
                    <div style="margin-top:18px;"><label>Course :</label></div><select style="margin-top:8px;" name="crs"><optgroup label="Course"></optgroup> <option value="{{ data.course_id_id }}">{{ data.course_id_id }}</option></select></div>
                <div class="col-4" id="col3">
                    <div style="margin-top:18px;"><label>Date :</label></div><input type="date" style="margin-top:8px;"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="margin-top:54px;">
            <div class="table-responsive" id="table1">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Course Name</th>
                            <th>Present</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Text</td>
                            <td>Cell 1</td>
                            <td class="align-items-center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <script src="{% static 'course/js/jquery.min.js'%}"></script>
    <script src="{% static 'course/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'course/js/bs-animation.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>