<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'student:testpage' %}" id="frm1" method="post">
{% csrf_token %}
    <input type="text" name="name" value="{{  data }}" onblur="get()"><br>

    <input type="submit" name="aaa" id="a" value="Get1" style="visibility: hidden">

</form>
<script type="text/javascript">
    function get() {

            document.getElementById("a").click();

    }

</script>
<br><br>

<form action="{% url 'student:testpage' %}" name="frm"  method="post">
{% csrf_token %}
    <input type="text" name="name" value="{{ par }}" ><br>
    <input type="submit" name="aaa" value="Get2">

</form>

</body>
</html>