{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCM</title>
     <link rel="stylesheet" href="{% static 'course/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'course/css/simple-line-icons.min.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css"/>
    <link rel="stylesheet" href="{% static 'course/css/Login-Form-Clean.css' %}"/>
    <link rel="stylesheet" href="{% static 'course/css/styles.css' %} "/>

<!-- FontAwesome compiled  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color:rgb(241,247,252);">
    <div class="login-clean" style="height:649px;">
        <form method="post" action="{% url 'course:updatecoursefinal' %}" data-aos="fade" data-aos-duration="600" data-aos-delay="150" id="mform" style="margin-top:3px;width:364px;max-width:348px;">
           {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div CLASS="text-center"><i class="fa fa-address-card-o icon fa-5x  " ></i></div><br><br>
            <div class="form-group" id="fg2"><label>Course Name :</label><input class="form-control" type="text" name="cnm" value="{% for i in data%}{{ i.coursename }}{% endfor %}" required="" ></div>
            <div class="form-group" id="fg3"><label>Department Name:</label>




                <select class="form-control" onclick="call()" onblur="enab()" name="selectdept">
                <option id = "first" name="{% for i in data %}{{ i.dept_id }}{% endfor %}" value="{% for i in data%}{{ i.dept_id }}{% endfor %}">{% for i in data%}{{ i.dept_id }}{% endfor %}</option>

             {% for i in alldata %}
                     <option id = "did" name="{{ i.deptname}}" value="{{ i.deptname }}">
                        {{ i.deptname }}</option>{% endfor %}
            </select></div>

            <div class="form-group"><button class="btn btn-primary btn-block"  type="submit" id="btn" style="background-color:rgb(1,159,208);">Update</button></div>
            <input class="form-control" style="visibility: hidden" type="text" name="cid" value="{% for i in data%}{{ i.courseid }}{% endfor %}">
        </form>
    </div>
     <script src="{% static 'course/js/jquery.min.js'%}"></script>
    <script src="{% static 'course/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'course/js/bs-animation.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>


<script type="application/javascript">
    function call()
{
	document.getElementById("first").remove();
	document.getElementById("did").removeAttribute("disabled");

}

function enab() {
        document.getElementById("cid").removeAttribute("disabled");


}

</script>
</body>

</html>